
@font-face {
    font-family:'Ma';
    src: url(./AlimamaShuHeiTi-Bold.ttf),
    /* url(./AlimamaShuHeiTi-Bold.woff),
    url(./AlimamaShuHeiTi-Bold.woff2) */
    ;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family:'PH';
    src: url(./Alibaba_PuHuiTi_2.0_55_Regular_55_Regular.ttf),
    /* url(./AlimamaShuHeiTi-Bold.woff),
    url(./AlimamaShuHeiTi-Bold.woff2) */
    ;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}