@font-face {
  font-family: "iconfont"; /* Project id 4637854 */
  src: url('iconfont.woff2?t=1722926860815') format('woff2'),
       url('iconfont.woff?t=1722926860815') format('woff'),
       url('iconfont.ttf?t=1722926860815') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 22px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.icon-yanjing_xianshi_o:before {
  content: "\ebcc";
}

.icon-yanjing_yincang_o:before {
  content: "\ebcd";
}

.icon-zhuantituceng:before {
  content: "\e830";
}

.icon-mianji:before {
  content: "\e65e";
}

.icon-tuxinghuizhi:before {
  content: "\e72d";
}

.icon-changdu:before {
  content: "\e8a1";
}

.icon-dingwei:before {
  content: "\e61f";
}

.icon-shanchu:before {
  content: "\e621";
}

.icon-quantu:before {
  content: "\e739";
}

.icon-yagaifenxi:before {
  content: "\e68a";
}

.icon-gongju:before {
  content: "\e606";
}

.icon-xitongrizhi:before {
  content: "\e62f";
}

.icon-yonghuguanli:before {
  content: "\e6aa";
}

.icon-huizongtongji:before {
  content: "\e615";
}

.icon-shouye:before {
  content: "\e8b9";
}

.icon-xitongshezhi:before {
  content: "\e62a";
}

.icon-wode:before {
  content: "\e604";
}

.icon-zuzhijiagou:before {
  content: "\e686";
}

.icon-zonghechaxun:before {
  content: "\e600";
}

