.galandanalysebody {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 110;
    width: 20%;
    height: 60%;
    overflow: hidden;
    overflow-y: auto;
    .titleclass {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        margin-bottom: 10px;

        .left {
            display: flex;
            align-items: center;

            span {
                /** 文本1 */
                font-size: 20px;
                font-weight: 700;
                color: rgba(0, 0, 0, 1);
                padding-left: 10px;
            }

            img {
                height: 14px;
                width: 3px;
            }
        }

        i {
            cursor: pointer;
        }
    }
    .el-table{
        margin-bottom: 10px;
    }

    .btclass {
        margin-bottom: 10px;
    }

    .icon-yanjing_yincang_o {
        font-size: 28px;
        cursor: pointer;
    }

    .icon-yanjing_xianshi_o {
        font-size: 28px;
        cursor: pointer;
    }
}